.navbar {
  height: 60px;
  background-color: #b77978;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar-brand {
  background-image: url("../../img/logo.png");
  height: 50px;
  width: 50px;
  background-size: cover;
  border-radius: 50%;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.nav-item {
  list-style-type: none;
  margin-right: 20px;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #f2f2f2;
}


.nav-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease; /* Adding transition effect */
}

.nav-link:hover {
  color: rgb(231, 41, 41); 
}