<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <nav> 
      <div class="nav-wrapper container">
        <a href="/" class="brand-logo">CURD</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="add-item">Add item</a></li>
        </ul>
      </div>
    </nav>
    <div class="container center-align">
      <i class="material-icons prefux">sentiment_very_dissatisfied</i>
      <h1>OOPS!!</h1>
      <h3>404-PAGE NOT FOUND</h3>
    </div>
  </body>
</html>
